/* Color palette: https://paletton.com/#uid=6170L0kqRuOmquJotuCu2vevTtP */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html {
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
    background-color: #2F3BA9;
    padding: 1em;
}

body {
    max-width: 100em;
    margin: auto;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 0.75em;
}

#contact h1 {
    margin-left: 10%;
}

main p {
    max-width: 75em;
    margin-left: 1em;
}

/* nav {
    width: 75%;
    text-align: center;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
} */
#navbar {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
    display: block;
    background: #F57627;
    color: black;
}

#navcontent {
    margin: 0px;
    width: 100%;
    padding: 0px;
    position: sticky;
    top: 0px;
}

a.nlink:hover {
    background: #F5BD27;
}

/* span {
    background-color: #447abb; 
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 12px 50px;
} */

#questions {
    list-style-type: circle;
}

#questions li,
.events li {
    display: block;
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    max-width: 90%;
    margin: auto;
    border: 1px solid black;
}

form li, form label {
    display: block;
}

form input, form textarea {
	width: 95%;
	margin-left: 0.25em;
}

.submit {
	margin-left: 0.5em;
}

header a img {
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    display: block;
    width: 100%;
    background: #F57627;
    height: 70px;
}


@media screen and (min-width: 600px) {
    header a img {
        width: 80%;
    }
	form li {
		margin-left: 0.5em;
	}
}

@media screen and (min-width: 1200px) {
    header a img {
        width: 50%;
    }
	form {
		width: 50%;
	}
}